@import "tailwindcss";

@theme {
  --color-navbar: #0a0d12;
  --color-nav-hover: #23232e;
  --color-accent-pink: #df49a6;
  --color-sidebar: #12161f;
  --color-surface: #171c27;
  --color-app-border: #232a38;
  --color-track: #363b48;
  --color-muted: #9a9fae;
  --color-accent: #e8a45c;
}
